# Application Environment Variables
# Add your configuration here

# SMTP Configuration for Registration Emails (e.g., SMTP_HOST=smtp.gmail.com)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
VITE_API_BASE_URL=https://your-backend-url.com
# The email address that will receive the notifications
ADMIN_EMAIL=brothernitin99@gmail.com,nitin.c@somaiya.edu

# Gemini AI
GEMINI_API_KEY=
